<p>
  Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.
</p>

<form class="scientist-name-form" (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>
<p *ngIf="names?.length > 5">
  I say: {{obj.hoi}}
</p>

  <ul >
    <li *ngFor="let name of names; trackBy:name?.id">{{name| json}}</li>
  </ul>

<Tree #modelTree [nodes]="names" ></Tree>
